# =========================

# PYTHON

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments

venv/
airflow-venv/
.env/

# =========================

# AIRFLOW

# =========================

airflow/
airflow.db
logs/
*.log

# =========================

# BIG DATA TOOLS (CRITICAL)

# =========================

hadoop/
kafka_2.13-3.5.1/
spark-warehouse/
metastore_db/

# =========================

# ARCHIVES / BINARIES (CRITICAL)

# =========================

*.tar.gz
*.tgz
*.zip
*.jar

# =========================

# DATA FILES (LARGE)

# =========================

data/
*.csv
*.parquet

# =========================

# MODEL FILES

# =========================

*.pkl

# =========================

# AWS / SECURITY

# =========================

*.pem
*.key
.aws/

# =========================

# IDE FILES

# =========================

.vscode/
.idea/

# =========================

# OS FILES

# =========================

.DS_Store
Thumbs.db

# =========================

# MISC

# =========================

*.tmp
*.bak
